body {
  background-color: #FAFAD2;
}

h1 {
  font-family: fantasy;
  font-size: 4rem;
  color: #006400;
  text-align: center;
  line-height: 110%;
  margin: 2rem auto 0 auto;
}

h2 {
  font-family: cursive;
  font-size: 2rem;
  color: #3CB371;
  text-align: center;
  line-height: 110%;
  margin: .5rem auto 1.5rem auto;
}

img {
  display: block;
  margin: 0 auto 1rem auto;
}

ul {
  list-style: none;
  display: block;
  margin: 0 auto 1rem auto;
  /*border: 1px solid #f0f;*/
  width: 780px;
}

li {
  display: inline;
  background-color: #006400;
  padding: 4px 15px;
  margin-right: 2px;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  text-align: center;
}

li a {
  color: #ffffff;
  text-decoration: none;
}

li a:hover {
  color: #FFFACD;
}

p {
  font-size: 1.8rem;
  text-align: center;
}
